h1 {
    width: 500px;
    font-size: 50px;
    padding-top: 10%;
    text-align: justify;
    color: var(--yellow);
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vector {
    left: 55%;
    top: 12%;
    width: 550px;
}

div p {
    color: black;
    width: 500px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.bizekatilin::before {
    color: white;
    content: 'ETKİNLİKLER';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.bizekatilin {
    background-color: var(--yellow);
    width: 300px;
    height: 70px;
    position: absolute;
    border-radius: 5px;
    border-color: var(--yellow);
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%)
}

.bizekatilin {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#yazi_beyaz {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0; 
 }
 .container{
     background: url("/assets/images/bg.jpg");
     height: 100vh;
     background-size: 100% 100%;
 
 }
 .container .navbar {
     width: 100%;
     height: 70px;
     background-color: #bbdefb;
 }
 .navbar ul{
     float:right;
     margin-right: 20px;
 }
 .navbar .logo {
     display: inline-block;
     margin-left: 50px;
     margin-top: 20px;
 }
 .navbar .logo a{
     text-decoration: none;
     font-size: 30px;
     font-family: sans-serif;
     color: black;
 }
 .navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 10px;
     line-height: 65px;
 
 }
 .navbar ul li a{
     color: black;
     text-decoration: none;
     font-size: 20px;
     padding: 6px 13px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     transition: .5s;
 }
 .navbar ul li a.active,
 .navbar ul li a:hover{
     background: #ffecb3;
     border-radius: 2px;
 }
 .center .button{
    margin: 35px 280px;
 }
 .button{
    height: 60px;
    width: 150px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(270px ,275px);
     font: sans-serif;
     font-weight: bold;
     user-select: none;
     font-size: larger;
     color:white;
     background: #4284f5;
     border:solid 1px #4284f5;
     cursor:pointer;
     outline: none;
     border-radius: 25px;
    
 }
 .button :hover{
    background: #fff;
 }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0; 
 }
 .container{
     background: url("./İMAGES/bg.jpg");
     height: 100vh;
     background-size: 100% 100%;
 
 }
 .container .navbar {
     width: 100%;
     height: 70px;
     background-color: #bbdefb;
 }
 .navbar ul{
     float:right;
     margin-right: 20px;
 }
 .navbar .logo {
     display: inline-block;
     margin-left: 50px;
     margin-top: 20px;
 }
 .navbar .logo a{
     text-decoration: none;
     font-size: 30px;
     font-family: sans-serif;
     color: black;
 }
 .navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 10px;
     line-height: 65px;
 
 }
 .navbar ul li a{
     color: black;
     text-decoration: none;
     font-size: 20px;
     padding: 6px 13px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     transition: .5s;
 }
 .navbar ul li a.active,
 .navbar ul li a:hover{
     background: #ffecb3;
     border-radius: 2px;
 }
 .center .button{
    margin: 35px 280px;
 }
 .button{
    height: 60px;
    width: 150px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(270px ,275px);
     font: sans-serif;
     font-weight: bold;
     user-select: none;
     font-size: larger;
     color:white;
     background: #4284f5;
     border:solid 1px #4284f5;
     cursor:pointer;
     outline: none;
     border-radius: 25px;
    
 }
 .button :hover{
    background: #fff;
 }
 

.blue  {
    background-color:  var(--blue);
}